.buttons {
    text-align: center;
}

.grid {
    text-align: center;
}

.tile {
    display: inline-block;
    border-style: outset;
    border-width: 1px;
    border-color: black;
    width: 2.5em;
    height: 1.7em;
    background-color: red;
    font-size: 28px;
    margin: 3px;
    text-align: center;
}

.intro {
    font-size: 20px;
    text-align: center;
}

.score {
    font-size: 20px;
    text-align: center;
}

.won {
    color: green;
    text-align: center;
    font-size: 140px;
}

.lost {
    color: red;
    text-align: center;
    font-size: 140px;
}