.buttons {
    text-align: center;
}

.grid {
    text-align: center;
}

.score {
    font-size: 24px;
    text-align: center;
}

.win {
    color: green;
    text-align: center;
    font-size: 140px;
}

.lose {
    color: red;
    text-align: center;
    font-size: 140px;
}