@(game: de.htwg.se.twothousandfortyeight.model.gameModel.gameBaseImpl.Game, input: Char)

@player = @{ "Lucas/Bilal" }

@main("2048") {
    <div class="game">
        @{ de.htwg.se.twothousandfortyeight.controller.Turn.makeTurn(game, de.htwg.se.twothousandfortyeight.util.Utils.processKey(0, input), Math.random(), Math.random()) }

        @if(game.win) {
            <div class="won">
                @{ "GAME WON!" }
            </div>
        } else if(game.lose) {
            <div class="lost">
                @{ "GAME OVER!" }
            </div>
        } else {
            <div class="intro">
                @{ "Hello " + player + "." }
                @{ "Used W A S D to move and R to reset and T to exit and Z to save and U to load and Q to undo." }
            </div>

            <br>

            <div class="grid">
                <div>
                    @for(i <- 0 until de.htwg.se.twothousandfortyeight.TwoThousandFortyEight.FIELD_SIZE) {
                        <div class="row">
                            @for(j <- 0 until de.htwg.se.twothousandfortyeight.TwoThousandFortyEight.FIELD_SIZE) {
                                <span class="tile">
                                    @{ game.grid.getSingleLine(i)(j) }
                                </span>
                            }
                        </div>
                    }
                </div>
            </div>

            <br>

            <div class="score">
                @{ "Score: " + game.score.toString }
            </div>

            <div class="buttons">
                <div><a class="btn btn-primary btn-lg" href="w" role="button">UP</a></div>
                <div>
                    <a class="btn btn-primary btn-lg" href="a" role="button">LEFT</a>
                    <a class="btn btn-primary btn-lg" href="d" role="button">RIGHT</a>
                </div>
                <div><a class="btn btn-primary btn-lg" href="s" role="button">DOWN</a></div>
            </div>
        }
    </div>
}
