@main("2048") {
    <br>
    <div id="content"></div>
    <br>
    <div class="buttonsMove" id="buttonsMove">
        <div><a class="btn btn-warning btn-lg" id="buttonUp" role="button" style="height: 50px;
            width: 205px">UP</a></div>
        <div>
            <a class="btn btn-warning btn-lg" id="buttonLeft" role="button" style="height: 50px;
                width: 100px">LEFT</a>
            <a class="btn btn-warning btn-lg" id="buttonRight" role="button" style="height: 50px;
                width: 100px">RIGHT</a>
        </div>
        <a class="btn btn-warning btn-lg" id="buttonDown" role="button" style="height: 50px;
            width: 205px">DOWN</a>
    </div>
    <br>
    <div class="buttonsSpecial" id="buttonsSpecial">
        <a class="btn btn-danger btn-lg" id="buttonUndo" role="button" style="height: 50px;
            width: 100px">UNDO</a>
        <a class="btn btn-danger btn-lg" id="buttonReset" role="button" style="height: 50px;
            width: 100px">RESET</a>
    </div>
}