@main("2048") {
    <div class="content">

    </div>

    <div class="buttons">
        <div><a class="btn btn-primary btn-lg" id="buttonUp" role="button" style="height: 50px;
            width: 100px">UP</a></div>
        <div>
            <a class="btn btn-primary btn-lg" id="buttonLeft" role="button" style="height: 50px;
                width: 100px">LEFT</a>
            <a class="btn btn-primary btn-lg" id="buttonRight" role="button" style="height: 50px;
                width: 100px">RIGHT</a>
        </div>
        <div><a class="btn btn-primary btn-lg" id="buttonDown" role="button" style="height: 50px;
            width: 100px">DOWN</a></div>

        <div>
            <a class="btn btn-primary btn-lg" id="buttonUndo" role="button" style="height: 50px;
            width: 100px">UNDO</a>
            <a class="btn btn-primary btn-lg" id="buttonReset" role="button" style="height: 50px;
            width: 100px">RESET</a>
        </div>
    </div>
}