@main("2048") {
    <div class="container">
        <h1 class="display-4">2048</h1>
        <p class="lead">This game was developed by Lucas and Bilal.</p>
        <hr class="my-4">
        <p> 2048 is a single-player sliding block puzzle game designed by Italian web developer Gabriele Cirulli.
            The game's objective is to slide numbered tiles on a grid to combine them to create a tile with the number 2048.
            However, one can continue to play the game after reaching the goal, creating tiles with larger numbers.
            2048 was originally written in JavaScript and CSS during a weekend, and released on March 9,
            2014, as free and open-source software subject to the MIT license. Clones written in C++ and Vala are available.
            There is also a version for the Linux terminal.
            2048 has been described as very similar to the Threes! app released a month earlier.
            Cirulli himself described 2048 as a clone of Veewo Studios' app 1024,
            who has actually said in the description of the app to be a clone of Threes!
        </p>
    </div>
}